.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item:focus .nav-link,
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: #00263b;
    font-size: 0.9 rem;
    }

.navbar .navbar-nav .nav-link {
    color: #879096;
    font-size: 0.75rem;
    font-weight: bold;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 1.45rem;
    font-weight: bolder;
    color: #035aa6;
}

.navbar{
    background-color: #1d1b38
}

.menu_icon{
    height: 2rem ;
    width: 1.5rem;
margin-right: 0.625rem;
}