<nav class="navbar navbar-vertical navbar-expand-lg navbar-light bg-light border">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
        <img src="../../../assets/menuicons/logo.jpg" alt="Logo Image">
        Skanda Civicon
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav">
              <li *ngFor="let navItem of navItemS" class="nav-item">
                <a routerLinkActive="active" [routerLink]="[navItem.path]"   class="nav-link">
                   <span><img src="{{navItem.icon}}" class="menu_icon" alt="icon"></span> 
                    <span class="nav-link-inner--text">   {{navItem.menuName}} </span></a>
              </li>
            </ul>
    </div>
</div>    
  </nav>