<!-- <nav class="navbar navbar-expand-md  navbar-dark">
  <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->
<div class="align-self-start">
<nav class="navbar  navbar-expand-lg  navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <!-- Form -->
    <form class="navbar-search navbar-search-dark form-inline mr-5 d-none d-md-flex ml-md-auto">
      <div class="form-group mb-0" >
        <div class="input-group input-group-alternative">
          <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
             <strong>Dexter Morgan</strong> 
            </a>
            <div class="dropdown-menu" style="top: 44px;
            left: -47px;">
              <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                <span>My profile</span>
              </a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </form>
    </div>
</nav>
</div>